.menu-bar {
    font-size: 20px;
    float: right;
}

nav {
    position: relative;
    bottom: 20px;
    left: 50px;
    margin-right: 50px;
}

.Work {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 27px;
    letter-spacing: 0.1em;
    padding: 8px;
    margin: 8px;
}

.Blog {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 27px;
    letter-spacing: 0.1em;
    padding: 8px;
    margin: 8px;
}

.Contact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 27px;
    letter-spacing: 0.1em;
    padding: 8px;
    margin: 8px;
    position: relative;
    right: 5px;
}

.bio {
    position: relative;
    left: 150px;
    top: 200px;

}

h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    position: relative;
    top: 50px;
}

.information p {
    font-size: 20px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.download {
    background-color: rgb(237, 60, 60);
    color: aliceblue;
    text-align: center;
    margin-top: 50px;
    width: 250px;
    height: 60px;
    border-radius: 2px;
}

.download p {
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: auto;
    text-align: center;
    padding-top: 15px;
}

.John-img img {
    position: relative;
    left: 800px;
    bottom: 400px;
    height: 350px;
    width: 350px;
    background: url(img/.John-img.jpg) no-repeat;
    box-shadow: -10px 15px #EDF7FA;
    ;
    border-radius: 190px;
}

.recent-post {
    height: 470px;
    width: 1450px;
    background-color: rgba(237, 247, 250, 1);
    ;
    ;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    position: relative;
    bottom: -40px;
    left: 150px;
}

.view-all {
    position: relative;
    left: 1100px;
    bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #00A8CC;
    font-size: 25px;
}

.left {
    position: relative;
    width: 500px;
    height: 330px;
    left: 148px;
    bottom: 20px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}

.tittle-left {
    position: relative;
    padding: 20px;
    left: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #21243D;
}

.date-left {
    position: relative;
    padding: 20px;
    left: 20px;
    bottom: -10px;


    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    z-index: 4;
}

.tittle-design {
    position: absolute;
    width: 239px;
    height: 34px;
    left: 217px;
    top: 140px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #21243D;
}

.line-left {
    position: absolute;
    width: 0px;
    height: 21px;
    left: 175px;
    top: 140px;
    border: 1px solid #000000;
}

.left-content {
    position: absolute;
    width: 420px;
    height: 117px;
    left: 40px;
    top: 190px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 24px;
    color: #21243D;
}

.right {
    position: absolute;
    width: 500px;
    height: 330px;
    left: 700px;
    top: 940px;

    background: #FFFFFF;
    border-radius: 4px;
}

.tittle-right {
    position: relative;
    width: 450px;
    height: 85px;
    left: 11px;
    bottom: 3px;
    padding: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #21243D;
}

.date-right {
    position: absolute;
    width: 374px;
    height: 34px;
    left: 28px;
    top: 137px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.line-right {
    position: absolute;
    width: 0px;
    height: 21px;
    left: 155px;
    top: 135px;
    border: 1px solid #000000;
    background-color: black;
}

.design-right {
    position: absolute;
    width: 239px;
    height: 34px;
    left: 190px;
    top: 135px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.content-right {
    position: absolute;
    width: 420px;
    height: 117px;
    left: 30px;
    top: 185px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #21243D;
}


.design-system {
    background-color: #FFFFFF;
    height: 295px;
    width: 418px;
    border-radius: 4px;
    display: flex;

}

.featured {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
    position: relative;
    left: 100px;
}

.design-dashboard {
    position: relative;
    right: 25px;
}

.des-img {
    height: 250px;
    width: 350px;
    border-radius: 6px;
    left: 150px;
    top: 80px;
    position: relative;
}

.design-info {
    position: relative;
    left: 550px;
    top: -230px;
}

.design-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    bottom: -5px;
}

.year2020 p {
    background-color: #142850;
    font-size: 27.5px;
    height: 32px;
    width: 90px;
    border-radius: 20px;
    position: relative;
    top: 2px;
    color: #EDF7FA;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2px;

}

.Dashboard {
    font-size: 22px;
    color: #8695A4;
    position: relative;
    top: -60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    left: 150px;
}

.information-text-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: relative;
    top: -45px;
}

hr {
    width: 1200px;
    height: 0.01px;
    position: relative;
    top: -250px;
    height: 0.01px;
    background-color: #acacac;
    left: 20px;
}


.vibrant-portrait {
    position: relative;
    right: 25px;
    bottom: 300px;
}

.vib-img {
    height: 250px;
    width: 350px;
    border-radius: 6px;
    left: 150px;
    top: 80px;
    position: relative;
}

.vibrant-info {
    position: relative;
    left: 550px;
    top: -230px;
}

.vibrant-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    bottom: -5px;
}

.year2018 p {
    background-color: #142850;
    font-size: 27.5px;
    height: 32px;
    width: 90px;
    border-radius: 20px;
    position: relative;
    top: 2px;
    color: #EDF7FA;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2px;

}

.Illustration {
    font-size: 22px;
    color: #8695A4;
    position: relative;
    top: -60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    left: 150px;
}

.information-text-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: relative;
    top: -45px;
}








.Malayalam-type {
    position: relative;
    right: 25px;
    bottom: 575px;

}

.mala-img {
    height: 250px;
    width: 350px;
    border-radius: 6px;
    left: 150px;
    top: 80px;
    position: relative;
}

.mala-info {
    position: relative;
    left: 550px;
    top: -230px;
}

.mala-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: relative;
    bottom: -5px;
}

.year2018-2 p {
    background-color: #142850;
    font-size: 27.5px;
    height: 32px;
    width: 90px;
    border-radius: 20px;
    position: relative;
    top: 2px;
    color: #EDF7FA;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2px;

}

.Typography {
    font-size: 22px;
    color: #8695A4;
    position: relative;
    top: -60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    left: 150px;
}

.information-text-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: relative;
    top: -45px;
}

.Social {
    position: relative;
    bottom: 700px;
    left: 460px;
}

.facebook_icon img {
    margin: 25px;
}

.instagram_icon img {
    height: 60px;
    width: 60px;
    margin: 25px;
}

.twitter_icon img {
    margin: 25px;
}

.linkedln_icon img {
    height: 60px;
    width: 60px;
    margin: 25px;
}

.copyright {
    color: rgba(33, 36, 61, 1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    position: relative;
    left: 120px;
    top: -20px;

}
